In [1]:
import pandas as pd

In [35]:
def close(x):
    return x"close"

SyntaxError: invalid syntax (4028358460.py, line 2)

In [33]:
AAPL = pd.read_csv(
        "AAPL.csv",
        index_col="Date",
        parse_dates=True,
        infer_datetime_format=True
)

AMZN = pd.read_csv(
        "AMZN.csv",
        index_col="Date",
        parse_dates=True,
        infer_datetime_format=True
)

GME = pd.read_csv(
        "GME.csv",
        index_col="Date",
        parse_dates=True,
        infer_datetime_format=True
)

GOOG = pd.read_csv(
        "GOOG.csv",
        index_col="Date",
        parse_dates=True,
        infer_datetime_format=True
)

NFLX = pd.read_csv(
        "NFLX.csv",
        index_col="Date",
        parse_dates=True,
        infer_datetime_format=True
)

SPY = pd.read_csv(
        "SPY.csv",
        index_col="Date",
        parse_dates=True,
        infer_datetime_format=True
)

In [37]:
AAPL["

SyntaxError: invalid syntax (2558210071.py, line 1)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-01-03,177.830002,182.880005,177.710007,182.009995,180.959747,104487900
2022-01-04,182.630005,182.940002,179.119995,179.699997,178.663071,99310400
2022-01-05,179.610001,180.169998,174.639999,174.919998,173.910660,94537600
2022-01-06,172.699997,175.300003,171.639999,172.000000,171.007507,96904000
2022-01-07,172.889999,174.139999,171.029999,172.169998,171.176544,86709100
...,...,...,...,...,...,...
2022-10-31,153.160004,154.240005,151.919998,153.339996,153.086044,97943200
2022-11-01,155.080002,155.449997,149.130005,150.649994,150.400497,80379300
2022-11-02,148.949997,152.169998,145.000000,145.029999,144.789810,93604600
2022-11-03,142.059998,142.800003,138.750000,138.880005,138.650009,97918500
2022-11-04,142.089996,142.669998,134.380005,138.380005,138.380005,140716700